<div class="row">
    <div class "col-md-12 center-menu">
        <ul class="nav navbar-nav">
            <li ng-class="(controller=='EventsEditorCtrl')?'active':'doNothing'">
                <a ng-href="#/eventsEditor/eventsEditor">Edit Events</a>
            </li>
            <li ng-class="(controller=='EventsCreatorCtrl')?'active':'doNothing'">
                <a ng-href="#/eventsEditor/eventsCreator">Create Events</a>
            </li>
        </ul>
    </div>
</div></br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Events Details</th>
                <th>Place</th>
                <th class="dateWidthFix">Date</th>
                <th class="eventTypeWidthFix">Event Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eventDetails in events | reverseAnything track by $index">
                <td>{{eventDetails.event}}</td>
                <td>{{eventDetails.venue}}</td>
                <td>{{eventDetails.date}}</td>
                <td>
                    <button ng-show="active" class="btn btn-success" type="button" ng-click="eventTypeToggle()">
                        {{eventType}}
                    </button>
                    <button ng-show="!active" class="btn btn-danger" type="button" ng-click="eventTypeToggle()">
                        {{eventType}}
                    </button>
                </td>
                <td ng-show="saveButtonActive">
                    <button class="btn btn-primary">Save Changes</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

