<div class="row">
    <div class="col-md-12">
        <img src={{imageURL}} class="img-rounded" alt="Madhuri Maitra - Author" width="700" height="500">
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-12">
        <p>The first book that I read from cover to cover was <i>The Mystery of the Burnt Cottage by Enid Blyton.</i> I was probably six, didn’t understand half of it, but saw it through; I am pretty sure my love affair with reading began then. Like any other affair, it saw its ups and downs. I’ve read some wonderful literature and also utter tripe. </p>
        <p>Writing was a natural progression and a long cherished dream. For whatever my writing is worth, I am glad I wrote; gladder still that I continue to write. I am now home!</p>
        <p>I hope <a ng-href={{websiteLink}}>{{websiteLink}}</a> entertains, enlightens and inspires my readers.</p>
    </div>
</div>
