<div class="row">
    <div class "col-md-12 center-menu">
        <ul class="nav navbar-nav">
            <li ng-class="(controller=='EquinoxCtrl')?'active':'doNothing'"><a ng-href="#/books/equinox">Equinox</a></li>
            <li ng-class="(controller=='HaikuCtrl')?'active':'doNothing'"><a ng-href="#/books/haiku">Haiku & Other Micropoetry</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Poetry is not everyone's cup of tea, but those who love it, love it. Moreover, its the era of experimental poetry and everyone is writing what they want and how they want.</p>
        <p>Micropoetry and haiku are fascinating forms; to express both that fleeting moment and an eternal truth in infinitesimal verse is pure delight. Coupled with delicate images, the verse in Haiku and other Micropoetry is an exquisite experience.</p>
        <p>In contrast, Equinox, the novel, is simple entertainment. The engaging story of six people in a new venture is both real and readable. You will travel to many places in India in this journey of about 255 pages.</p>
    </div>
</div>
