<div class="row">
    CALENDAR 2014-2015
</div>
</br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th class="widthFix">Happening / Forthcoming Events</th>
                <th>Place</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eventDetails in events | reverseAnything | limitTo:quantity  track by $index">
                <td>{{eventDetails.event}}</td>
                <td>{{eventDetails.venue}}</td>
                <td>{{eventDetails.date}}</td>
            </tr>
        </tbody>
    </table>
</div>
</br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Previous Events</th>
                <th>Place</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eventDetails in events | reverseAnything track by $index">
                <td>{{eventDetails.event}}</td>
                <td>{{eventDetails.venue}}</td>
                <td>{{eventDetails.date}}</td>
            </tr>
        </tbody>
    </table>
</div>

