<div class="jumbotron">
    <h1 class="indexPageTitleText">'Of Prose & Poetry'</h1>
    <p class="lead">
        <a href="#/author">Madhuri Maitra</a>
    </p>
    <br/>
    <p><u>Latest Updates</u></p>
    <p class="align-left">
        Upcoming Events
    </p>
    <p class="align-left">
        <a class="linkNoTextDecoration" ng-href="#/events">
            <blockquote class="eventsBlockQuoteBorderColor excerptText">
                <p class="haikuExcerptHeading excerptText">
                    <span class="quoteSize">&ldquo;</span>&nbsp;{{latestEventDetails}}&nbsp;
                </p>
                <p class="excerptText">
                    Date: {{latestEventDate}}&nbsp;<span class="quoteSize">&rdquo;</span>
                </p>
            </blockquote>
        </a>
    </p>
    <p class="align-left">Readuvenate</p>
    <p class="align-left">
        <a class="linkNoTextDecoration" ng-href="#/readuvenate">
            <blockquote class="readuvenateBlockQuoteBorderColor excerptText">
                <p class="haikuExcerptHeading excerptText"><span class="quoteSize">&ldquo;</span>&nbsp;<span ng-bind-html="readuvenate[0].title"></span></p>
                <p class="haikuExcerptLine readuvenateExcerpt"><span class="excerptText" ng-bind-html="readuvenate[0].excerpt"></span></p>
            </blockquote>
        </a>
    </p>
    <p class="align-left">Excerpt from Haiku</p>
    <p class="align-left">
        <a class="linkNoTextDecoration" ng-href="#/books/haiku">
            <blockquote class="haikuBlockQuoteBorderColor excerptText">
                <p class="haikuExcerptHeading excerptText"><span class="quoteSize">&ldquo;</span>&nbsp;{{haiku.excerptHeading}}</p>
                <p class="haikuExcerptLine excerptText">{{haiku.excerptLine1}}</p>
                <p class="haikuExcerptLine excerptText" ng-if="haiku.excerptLine2!==''">{{haiku.excerptLine2}}&nbsp;<span class="quoteSize" ng-if="haiku.excerptLine4=='' && haiku.excerptLine3=='' && haiku.excerptLine2!=''">&rdquo;</span></p>
                <p class="haikuExcerptLine excerptText" ng-if="haiku.excerptLine3!=''">{{haiku.excerptLine3}}&nbsp;<span class="quoteSize" ng-if="haiku.excerptLine4=='' && haiku.excerptLine3!=''">&rdquo;</span></p>
                <p class="haikuExcerptLine excerptText" ng-if="haiku.excerptLine4!=''">{{haiku.excerptLine4}}&nbsp;<span class="quoteSize" ng-if="haiku.excerptLine4!=''">&rdquo;</span></p>
            </blockquote>
        </a>
    </p>
    <p class="align-left">Excerpt from Equinox</p>
    <p class="align-left">
        <a class="linkNoTextDecoration" ng-href="#/books/equinox">
            <blockquote class="equinoxBlockQuoteBorderColor excerptText">
                <span class="quoteSize">&ldquo;</span>&nbsp;{{equinox.excerpt}}&nbsp;<span class="quoteSize">&rdquo;</span>
            </blockquote>
        </a>
    </p>
</div>
